{% extends "base.html" %}

{% block head %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="{{url_for('static',filename='css/home.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container" style="background:#1d2c47;max-width:100vw;">
  <div class="center-container">
    <img src="{{url_for('static',filename='css/img/logo_blue.png')}}" class="responsive">
  </div>
  <br />
    <div class="center-container">
        <div class="answer">
        <h2>How does staking reward me ?</h2>
        <br />

            <p class="answer-text">You earn a fixed percentage of what you deposit or stake everyday.</p>
            <p class="answer-text"> ROI is very easily achievable.</p>
        </div>
    </div>
  <div class="center-container">
      <h2>Partners</h2>
      <br />
      <br />
      <img src="{{url_for('static',filename='css/img/binance.png')}}" class="img-fluid mb-4" alt=""
          data-wow-delay="0.1s">

      <img src="{{url_for('static',filename='css/img/okex.png')}}" class="img-fluid mb-4" alt=""
          data-wow-delay="0.4s">

      <img src="{{url_for('static',filename='css/img/trust.png')}}" class="img-fluid mb-4" alt=""
          data-wow-delay="0.7s">
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
{% endblock %}